<!DOCTYPE html>
<html>
  <head>
    <title>Розклад та результати спортивних змагань</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Розклад та результати спортивних змагань</h1>
      <nav>
        <form action="/team" method="POST" id="search-form">
          <input type="text" name="name" placeholder="Введіть назву команди" />
          <button type="submit">Пошук</button>
        </form>
      </nav>
    </header>
  </body>
</html>
