<%- include('partials/header.ejs') %>
<section>
  <form action="/login" method="POST" id="login-form">
    <button type="submit">Редагувати</button>
  </form>
</section>
<%- include('partials/footer-guest.ejs') %>
