<!DOCTYPE html>
<html>
  <head>
    <title>Увійти</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Вхід в систему</h1>
    <form method="POST" action="/login">
      <label for="username">Логін:</label>
      <input type="username" id="username" name="username" required />
      <br />
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <input type="submit" value="Увійти" />
    </form>
  </body>
</html>
